// Place all the styles related to the pricing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img { 
	max-width: 100%; 
}

.container {
  max-width:  960px;

  .plan {
    float: none;
    width: auto;
    margin: 0 (30px / 960px * 100%);
  }

  @media all and (min-width: 420px) {

    .plan {
      float: left;
      width: 300px / 960px * 100%;
      margin: 0;
    }

    .plan.premium {
      margin: 0 (30px / 960px * 100%);
    }
  }

	@media all and (max-width: 420px) {
    img {
    	display: none;
    }

    .plan {
      float: none;
    }

    .plan.premium {
      margin: 0 (30px / 960px * 100%);
    }
  }
}
